{% extends "Manager/manager_base.html" %}
{% block title %}Claim Approval{% endblock %}

{% block content %}

<h2> Claim Details </h2>
<table class="table_details table-striped" style="width: 80%; text-align: center;">
    <thead>
    <tr>
        <th>Emp ID</th>
        <th>Employee Name</th>
        <th>Designation</th>
        <th>Project</th>
        <th>Country/State</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Action</th>

    </tr>
    </thead>

    <tbody>
    {% for claims in claim_data %}
    <tr>
        <td>{{claims.emp_id}}</td>
        <td>{{claims.employee_name}}</td>
        <td>{{claims.designation}}</td>
        <td>{{claims.project_name}}</td>
        <td>{{claims.country_state}}</td>
        <td>{{claims.travel_from_date}}</td>
        <td>{{claims.travel_to_date}}</td>
        <td><a href="{{ url_for('manager_bp.view_items', claim_id = claims.id) }}" class="claim-button">View Items</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
