<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header id="header">
        <div class="logo"><img src="{{ url_for('static', filename='photo/saffo logo.png') }}" alt=""></div>
        <nav class="nav-bar" id="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="https://www.saffotech.com/about">About Us</a></li>

            </ul>
        </nav>
    </header>
    <div class="container" id="home">
        <div class="login-left">
            {% block content %}{% endblock %}
        </div>
        <div class="login-right">
            <img src="{{ url_for('static', filename='photo/Data Arranging_Two Color.svg') }}" alt="">
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Start fetching location as soon as user loads app
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    function (position) {
                        localStorage.setItem('lat', position.coords.latitude);
                        localStorage.setItem('lon', position.coords.longitude);
                        localStorage.setItem('location_ready', 'true');
                    },
                    function (error) {
                        alert("Please enable location access for attendance.");
                        localStorage.setItem('location_ready', 'false');
                    }
                );
            } else {
                alert("Geolocation not supported by your browser.");
                localStorage.setItem('location_ready', 'false');
            }
        });
    </script>


    <script src="{{ url_for('static', filename='js/javascript.js') }}"></script>
</body>

</html>