{% extends "Admin_Access/admin_base.html" %}
{% block title %}View Employee{% endblock %}
{% block content %}

<div class="perticular-emp-container">
  <div class="perticular-emp-info">
    <h2>Employee All Data Dashboard</h2>
    <p>Admin ID: {{ admin_id }}</p>
  </div>

  <div class="perticular-emp-modules">
    {% for module in modules %}
    <div class="perticular-emp-card">
      <h3>{{ module.title }}</h3>
      <a href="{{ url_for(module.endpoint, admin_id=admin_id) }}" class="perticular-emp-btn">View</a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
